In [1]:
import os  
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint

In [15]:
# Read in csv data
attrition_df = pd.read_csv("data/IBM_attrition_data.csv")
data = attrition_df.copy()
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [16]:
data.sample(20)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
417,40,No,Travel_Rarely,1398,Sales,2,4,Life Sciences,1,558,...,4,80,0,21,2,3,20,15,1,12
752,36,Yes,Travel_Rarely,885,Research & Development,16,4,Life Sciences,1,1042,...,3,80,0,18,1,3,17,13,15,14
304,39,No,Travel_Rarely,1132,Research & Development,1,3,Medical,1,417,...,1,80,3,19,5,2,18,10,3,7
1346,45,No,Travel_Rarely,556,Research & Development,25,2,Life Sciences,1,1888,...,4,80,2,10,2,2,9,8,3,8
83,38,No,Non-Travel,573,Research & Development,6,3,Medical,1,107,...,4,80,3,17,3,3,13,11,1,9
542,38,No,Travel_Rarely,168,Research & Development,1,3,Life Sciences,1,743,...,4,80,0,10,4,4,1,0,0,0
1174,25,No,Travel_Frequently,772,Research & Development,2,1,Life Sciences,1,1653,...,3,80,2,7,6,3,7,7,0,7
519,29,No,Travel_Frequently,806,Research & Development,1,4,Life Sciences,1,710,...,4,80,1,10,5,3,10,7,2,8
1391,38,No,Travel_Rarely,1404,Sales,1,3,Life Sciences,1,1961,...,1,80,0,20,3,2,1,0,0,0
593,36,No,Travel_Rarely,676,Research & Development,1,3,Other,1,823,...,1,80,1,10,2,3,9,7,0,5
861,46,No,Travel_Rarely,1402,Sales,2,3,Marketing,1,1204,...,1,80,0,28,2,3,26,15,15,9
1232,35,No,Travel_Rarely,1370,Research & Development,27,4,Life Sciences,1,1728,...,2,80,1,17,3,3,7,7,0,7
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,165,...,4,80,1,40,3,2,40,10,15,6
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
886,30,No,Travel_Rarely,1465,Research & Development,1,3,Medical,1,1241,...,1,80,1,12,2,3,11,9,5,7
686,41,No,Travel_Rarely,263,Research & Development,6,3,Medical,1,957,...,3,80,0,20,3,3,18,13,2,17
1261,38,No,Travel_Rarely,833,Research & Development,18,3,Medical,1,1766,...,3,80,1,15,2,3,1,0,1,0
1420,41,No,Travel_Rarely,642,Research & Development,1,3,Life Sciences,1,1999,...,1,80,1,12,3,3,5,3,1,0
1202,38,No,Travel_Rarely,1495,Research & Development,4,2,Medical,1,1687,...,4,80,1,7,5,2,0,0,0,0
884,40,No,Travel_Rarely,107,Sales,10,3,Technical Degree,1,1239,...,2,80,1,7,2,4,5,1,1,3

In [17]:
# Checking data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [18]:
# Drop Over18 column since all employees are over 18
data = data.drop(["Over18", "EmployeeCount", "StandardHours", "EmployeeNumber"], axis=1)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobLevel                  1470 non-null   int64
 13  JobRole                   1470 non-null   object
 14  JobSatisfaction           1470 non-null   int64
 15  MaritalStatus             1470 non-null   object
 16  MonthlyIncome             1470 non-null   int64
 17  MonthlyRate               1470 non-null   int64
 18  NumCompaniesWorked        1470 non-null   int64
 19  OverTime                  1470 non-null   object
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StockOptionLevel          1470 non-null   int64
 24  TotalWorkingYears         1470 non-null   int64
 25  TrainingTimesLastYear     1470 non-null   int64
 26  WorkLifeBalance           1470 non-null   int64
 27  YearsAtCompany            1470 non-null   int64
 28  YearsInCurrentRole        1470 non-null   int64
 29  YearsSinceLastPromotion   1470 non-null   int64
 30  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(23), object(8)
memory usage: 356.1+ KB

In [24]:
# # Category Distribution 
# data[["BusinessTravel", "Department", "Education", 
#       "EducationField", "EnvironmentSatisfaction", "Gender",
#       "JobInvolvement", "JobRole", "JobSatisfaction", 
#       "MaritalStatus", "OverTime", "PerformanceRating", 
#       "RelationshipSatisfaction", "WorkLifeBalance"]].value_counts()/len(data)

In [ ]:
# sns.pairplot(data[[[["BusinessTravel", "Department", "Education", 
#                     "EducationField", "EnvironmentSatisfaction", "Gender",
#                     "JobInvolvement", "JobRole", "JobSatisfaction", 
#                     "MaritalStatus", "OverTime", "PerformanceRating", 
#                     "RelationshipSatisfaction", "WorkLifeBalance"]], diag_kind='kde']])

In [10]:
# Rename Attrition_Yes column to Attrition 
attrition_data = attrition_df.rename(columns={"Attrition_Yes": "Attrition", "OverTime_Yes": "OverTime", "Gender_Male": "Gender"})
attrition_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   DailyRate                          1470 non-null   int64
 2   DistanceFromHome                   1470 non-null   int64
 3   Education                          1470 non-null   int64
 4   EnvironmentSatisfaction            1470 non-null   int64
 5   HourlyRate                         1470 non-null   int64
 6   JobInvolvement                     1470 non-null   int64
 7   JobLevel                           1470 non-null   int64
 8   JobSatisfaction                    1470 non-null   int64
 9   MonthlyIncome                      1470 non-null   int64
 10  MonthlyRate                        1470 non-null   int64
 11  NumCompaniesWorked                 1470 non-null   int64
 12  PercentSalaryHike                  1470 non-null   int64
 13  PerformanceRating                  1470 non-null   int64
 14  RelationshipSatisfaction           1470 non-null   int64
 15  StockOptionLevel                   1470 non-null   int64
 16  TotalWorkingYears                  1470 non-null   int64
 17  TrainingTimesLastYear              1470 non-null   int64
 18  WorkLifeBalance                    1470 non-null   int64
 19  YearsAtCompany                     1470 non-null   int64
 20  YearsInCurrentRole                 1470 non-null   int64
 21  YearsSinceLastPromotion            1470 non-null   int64
 22  YearsWithCurrManager               1470 non-null   int64
 23  Attrition                          1470 non-null   uint8
 24  BusinessTravel_Travel_Frequently   1470 non-null   uint8
 25  BusinessTravel_Travel_Rarely       1470 non-null   uint8
 26  Department_Research & Development  1470 non-null   uint8
 27  Department_Sales                   1470 non-null   uint8
 28  EducationField_Life Sciences       1470 non-null   uint8
 29  EducationField_Marketing           1470 non-null   uint8
 30  EducationField_Medical             1470 non-null   uint8
 31  EducationField_Other               1470 non-null   uint8
 32  EducationField_Technical Degree    1470 non-null   uint8
 33  Gender                             1470 non-null   uint8
 34  JobRole_Human Resources            1470 non-null   uint8
 35  JobRole_Laboratory Technician      1470 non-null   uint8
 36  JobRole_Manager                    1470 non-null   uint8
 37  JobRole_Manufacturing Director     1470 non-null   uint8
 38  JobRole_Research Director          1470 non-null   uint8
 39  JobRole_Research Scientist         1470 non-null   uint8
 40  JobRole_Sales Executive            1470 non-null   uint8
 41  JobRole_Sales Representative       1470 non-null   uint8
 42  MaritalStatus_Married              1470 non-null   uint8
 43  MaritalStatus_Single               1470 non-null   uint8
 44  OverTime                           1470 non-null   uint8
dtypes: int64(23), uint8(22)
memory usage: 295.8 KB

In [11]:
# Set aside Test Set 
from sklearn.model_selection import train_test_split

# X = attrition_df.drop(["Attrition"], axis=1).values
# y = attrition_df["Attrition"]

train_set, test_set = train_test_split(attrition_data, test_size=0.2, random_state=42)

test_set.shape

(294, 45)

In [12]:
# Export dummy data to csv for tableau plotting
filepath = "attrition_dummy.csv"
attrition_dummy = attrition_data.to_csv(filepath)

In [13]:
# Analyze correlation of each variable with the target variable in the train set 
train_data = train_set.copy()
corr_matrix = train_data.corr()
corr_matrix["Attrition"].sort_values(ascending=False)

Attrition                            1.000000
OverTime                             0.280567
MaritalStatus_Single                 0.205061
JobRole_Sales Representative         0.170863
BusinessTravel_Travel_Frequently     0.112736
JobRole_Laboratory Technician        0.099943
Department_Sales                     0.084838
DistanceFromHome                     0.067886
EducationField_Technical Degree      0.064842
NumCompaniesWorked                   0.063013
EducationField_Marketing             0.045301
Gender                               0.036962
JobRole_Human Resources              0.035862
MonthlyRate                          0.019092
JobRole_Research Scientist           0.012676
JobRole_Sales Executive              0.012341
HourlyRate                           0.003221
PerformanceRating                   -0.005086
EducationField_Other                -0.005969
PercentSalaryHike                   -0.017458
RelationshipSatisfaction            -0.018682
Education                           -0.022896
YearsSinceLastPromotion             -0.028593
EducationField_Life Sciences        -0.035336
EducationField_Medical              -0.039803
DailyRate                           -0.039971
BusinessTravel_Travel_Rarely        -0.048013
TrainingTimesLastYear               -0.060597
WorkLifeBalance                     -0.064892
EnvironmentSatisfaction             -0.080855
JobRole_Manager                     -0.084434
JobRole_Manufacturing Director      -0.087040
Department_Research & Development   -0.089606
JobRole_Research Director           -0.091995
MaritalStatus_Married               -0.102940
JobSatisfaction                     -0.104915
JobInvolvement                      -0.117724
YearsAtCompany                      -0.132936
Age                                 -0.153240
StockOptionLevel                    -0.155555
YearsWithCurrManager                -0.158191
MonthlyIncome                       -0.159820
TotalWorkingYears                   -0.169475
JobLevel                            -0.172187
YearsInCurrentRole                  -0.177569
Name: Attrition, dtype: float64

END

In [174]:
# Setting target and feature variables in the training data set
X = train_set.drop(["Attrition"], axis=1)
y = train_set["Attrition"].copy()
X

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime
1097,24,350,21,2,3,57,2,1,1,2296,...,1,0,0,0,0,0,0,0,0,0
727,18,287,5,2,2,73,3,1,4,1051,...,0,0,0,0,1,0,0,0,1,0
254,29,1247,20,2,4,45,3,2,4,6931,...,0,0,0,0,0,1,0,0,0,0
1175,39,492,12,3,4,66,3,2,2,5295,...,0,0,1,0,0,0,0,1,0,0
1341,31,311,20,3,2,89,3,2,3,4197,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,35,750,28,3,2,46,4,2,3,3407,...,1,0,0,0,0,0,0,1,0,0
1294,41,447,5,3,2,85,4,2,2,6870,...,0,0,0,0,0,0,0,0,1,0
860,22,1256,3,4,3,48,2,1,4,2853,...,0,0,0,0,1,0,0,1,0,1
1459,29,1378,13,2,4,46,2,2,2,4025,...,1,0,0,0,0,0,0,1,0,1
1126,50,264,9,3,3,59,3,5,3,19331,...,0,1,0,0,0,0,0,1,0,1

In [175]:
# Creating a Pipeline of Tasks 
##Using Pipeline class
from sklearn.pipeline import Pipeline
##Using StandardScaler to scale all the numerical attributes
from sklearn.preprocessing import StandardScaler

numerics = ['uint8', 'int64']

num_data = X.select_dtypes(include=numerics)

##pipeline for numerical attributes
##imputing -> adding attributes -> scale them
num_pipeline = Pipeline([
        ('std_scaler', StandardScaler()),
    ])

num_data_tr = num_pipeline.fit_transform(num_data)
num_data_tr[0]

array([-1.38855944, -1.10813858,  1.44039645, -0.86335572,  0.2797056 ,
       -0.47283217, -1.01234042, -0.9322736 , -1.58233648, -0.86827746,
       -0.60189535, -1.05916816, -0.33924934, -0.42929015, -0.63982217,
        2.54747106, -1.1673683 ,  0.15731946,  0.3574354 , -0.97426331,
       -0.88820751, -0.67610953, -1.14244794, -0.49041445,  0.63904869,
        0.73297674, -0.66554097, -0.84663352, -0.34332306, -0.67620195,
       -0.24966102,  3.2624476 ,  0.81447304, -0.19245009,  2.18282063,
       -0.26835533, -0.31637564, -0.24773341, -0.50901929, -0.52486957,
       -0.26099788, -0.93733358, -0.66288195, -0.63641018])

In [ ]:
##Transform different columns or subsets using ColumnTransformer
from sklearn.compose import ColumnTransformer

num_attrs = list(num_data)
cat_attrs = ["Origin"]

##complete pipeline to transform 
##both numerical and cat. attributes
full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attrs),
        ("cat", OneHotEncoder(), cat_attrs),
    ])

prepared_data = full_pipeline.fit_transform(data)
prepared_data[0]

In [110]:
# # Set up data transformation pipeline for numerical data 
# def num_pipeline_transformer(attrition_data):
#     '''
#     Function to process numerical transformations
#     Argument:
#         data: original dataframe 
#     Returns:
#         num_attrs: numerical dataframe
#         num_pipeline: numerical pipeline object
        
#     '''
#     numerics = ['uint8','int64']

#     num_attrs = attrition_data.select_dtypes(include=numerics)

#     num_pipeline = Pipeline([
#         ('std_scaler', StandardScaler()),
#         ])
#     return num_attrs, num_pipeline

In [114]:
# # Set up data transformation pipeline for numerical and categorical data 
# def pipeline_transformer(attrition_data):
#     '''
#     Complete transformation pipeline for both
#     nuerical and categorical data.
    
#     Argument:
#         data: original dataframe 
#     Returns:
#         prepared_data: transformed data, ready to use
#     '''
#     category_cols = ["Attrition"]

#     num_attrs, num_pipeline = num_pipeline_transformer(attrition_data)
#     full_pipeline = ColumnTransformer([
#         ("num", num_pipeline, list(num_attrs)),
#         ("cat", OneHotEncoder(), category_cols),
#         ])
#     prepared_data = full_pipeline.fit_transform(attrition_data)
#     return prepared_data

In [115]:
# # # Final automation 
# # ## Preprocess the Attrition column in data
# def preprocess_attrition_cols(attrition_data):
#     attrition_data["Attrition"] = attrition_data["Attrition"].map({0: "No", 1: "Yes"})
#     return attrition_data

In [116]:
# ## Call the final pipeline transformer
# preprocessed_df = preprocess_attrition_cols(attrition_data)
# prepared_data = pipeline_transformer(preprocessed_df)
# prepared_data

array([[ 0.4463504 ,  0.74252653, -1.01090934, ...,  1.45864991,
         1.59174553,  1.        ],
       [ 1.32236521, -1.2977746 , -0.14714972, ..., -0.68556546,
        -0.62824112,  1.        ],
       [ 0.008343  ,  1.41436324, -0.88751511, ...,  1.45864991,
         1.59174553,  1.        ],
       ...,
       [-1.08667552, -1.60518328, -0.64072665, ..., -0.68556546,
         1.59174553,  1.        ],
       [ 1.32236521,  0.54667746, -0.88751511, ..., -0.68556546,
        -0.62824112,  1.        ],
       [-0.32016256, -0.43256792, -0.14714972, ..., -0.68556546,
        -0.62824112,  1.        ]])

In [73]:
# # Attrition column
# prepared_data[]

array([ 0.4463504 ,  0.74252653, -1.01090934, -0.89168825, -0.66053067,
        1.38313827,  0.37967213, -0.05778755,  1.15325359, -0.10834951,
        0.72601994,  2.12513592, -1.1505541 , -0.42623002, -1.58417824,
       -0.93201439, -0.42164246, -2.17198183, -2.49382042, -0.16461311,
       -0.0632959 , -0.67914568,  0.24583399,  1.        ])

In [122]:
# # Training Models 
# # DecisionTree
# from sklearn.tree import DecisionTreeClassifier

# model = DecisionTreeClassifier()
# model.fit(prepared_data, y_train)

ValueError: Input contains NaN